# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Build output
dist/
build/

# TS
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Mac / OS
.DS_Store

# Logs
logs
*.log
logs/*.log

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
